.ajqh-tabs {
    width: 100%;
    height: 36px;
    display: flex;
    border-bottom: 1px solid rgba(0,0,0,0.08);
}
.ajqh-tabs .tabs-cell {
    font-size: 15px;
    color: #303030;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
/*     align-items: center; */

}
.ajqh-tabs .tabs-cell:first-child span {
    display: flex;
    width: 90px;
    height: 34px;
    line-height: 21px;
    font-size: 15px;
    flex-direction: row;
    align-items: center;
/*     border-bottom: 2px solid #71AFFF;
    color: #71AFFF; */
}
.ajqh-tabs .tabs-cell:last-child span {
    display: flex;
    width: 105px;
    height: 34px;
    line-height: 21px;
    font-size: 15px;
    flex-direction: row;
    align-items: center;
   
}
.isClick {
    border-bottom: 2px solid #71AFFF;
    color: #71AFFF;
}
.area-box{
  background: #fff;
}

.area-top{
}

.area-bottom{

}
.space-line {
  width: 100%;
  height: 10px;
  background: #F4F4F4;
}
.AjqhTitle {
  height: 44px;
/*   border-bottom: 1px solid rgba(0, 0, 0, 0.08); */
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
}

.AjqhTitle .AjqhTitle-text {
  color: #484848;
  font-size: 16px;
}

.AjqhTitle img {
  width: 18px;
  height: 18px;
  position: absolute;
  right: 12px;
  top: 13px;
}
.border-line {
   width: 100%;
   height: 1px;
   background: rgba(0,0,0,0.08);
}