
.popvover{
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.48);
}


.content{
  position: absolute;
  left: 50%;
  top:50%;
  transform: translate(-50%,-50%);
  width: 80%;
  background: #fff;
  border-radius: 8px;

}

.group{
  overflow: hidden;
  overflow-y: scroll;
  max-height: 400px;
}


.title{
  height: 44px;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0,0,0,0.08);
  padding: 0 12px;
}

.title span:first-child{
  color: #303030;
  font-size: 14px;
}

.title span:nth-child(2){
  color: #303030;
  font-size: 16px;
}

.title span:last-child{
  color: #303030;
  font-size: 14px;
}

.cell-box{
  height: 40px;
  border-bottom: 1px solid rgba(0,0,0,0.08);
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cell-con{
  margin-left: 12px;
  font-size: 14px;
  color: #303030;
}

.cell-checkbox{
  width: 17px;
  height: 17px;
  margin-left: 12px;
}

.filter-box{
  height: 36px;
  background: #F9F9F9;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
}

.filter-box span:first-child{
  font-size: 15px;
  color: #303030;
  font-weight: 700;
}


.filter-box span:last-child{
  font-size: 14px;
  color: #71AFFF;
}
