
.apass-filter-modal{
  display: flex;
  align-items: center;
  justify-content: center;
}


.apass-filter-content{
}

.apass-filter-group{
  overflow: hidden;
  overflow-y: scroll;
  max-height: 400px;
}


.apass-filter-title{
  height: 44px;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0,0,0,0.08);
  padding: 0 12px;
}

.apass-filter-title span:first-child{
  color: #303030;
  font-size: 14px;
}

.apass-filter-title span:nth-child(2){
  color: #303030;
  font-size: 16px;
}

.apass-filter-title span:last-child{
  color: #303030;
  font-size: 14px;
}

.apass-filter-cell-box{
  height: 40px;
  border-bottom: 1px solid rgba(0,0,0,0.08);
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.apass-filter-cell-con{
  margin-left: 12px;
  font-size: 14px;
  color: #303030;
}

.apass-filter-cell-checkbox{
  width: 17px;
  height: 17px;
  margin-left: 12px;
}

.apass-filter-filter-box{
  height: 36px;
  background: #F9F9F9;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
}

.apass-filter-title-name{
  font-size: 15px;
  color: #303030;
  font-weight: 700;
}


.apass-filter-title-select{
  font-size: 14px;
  color: #71AFFF;
}
