.user-home {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  -ms-flex-pack: center;
  align-items: center;
  width: 100%;
}
.fyd-icon {
  width: 70%;
  height: 9rem;
  border: 1px solid #ccc;
  margin-top: 8rem;
  border-radius: 8px;
  margin-left: 60px;
}
.fyd-title {
  margin: 1rem 0;
  text-align: center;
}

.ajqh-icon {
  width: 70%;
  height: 9rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-left: 60px;
}
.ajqh-title {
  margin: 1rem 0;
  text-align: center;
}
