
.apass-table-wrapper{
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}

.apass-table-box{
  width: 10000px;
}

.apass-table-cloumn{
  float: left;
  text-align: center;
}

.apass-table-cell{
  display: block;
  color: #303030;
  font-size:15px;
  line-height: 44px;
  min-width: 45px;
  height: 44px;
  padding: 0 30px;
}
