.footer-group {
	z-index: 1000;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 1rem 0;
	align-items: center;
	text-align: center;
	color: #999;
	background-color: #d0d0d0;

}

.footer-group .icon-des {
  font-size: 1rem;

}

.footer-group .active {
  color: #2772ff;
}
